* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.general {
  width: 1000px;
  height: 1000px;
  font-size: 1em;
  background-color: rgba(213, 228, 0, 0.893);
}

.px {
  width: 200px;
  height: 100px;
  background-color: hsl(108, 68%, 50%);
  margin: 10px;
}

.vm {
  width: 10vw;
  height: 10vh;
  background-color: yellow;
  margin: 10px;
}

.em {
  width: 10em;
  height: 10em;
  background-color: rgb(0, 187, 255);
  margin: 10px;
}

.rem {
  width: 10rem;
  height: 10rem;
  background-color: rgb(0, 34, 128);
  margin: 10px;
}

.por {
  width: 50%;
  background-color: black;
  margin: 10px;
}

.prueba{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}