* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    color: rgb(158, 101, 212);
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(124, 83, 163);
    font-size: 14px;
}

.logo {
    padding: 10px;
    margin: 5px;
    background-color: black;
    width: auto;
    height: 100px;
}

.logo img {
    width: 50px;
    height: auto;
    ;
}

.titulo {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
}

.perfil_profesional {
    background-color: beige;
    margin:10px;
    padding: 5px;
}
.docentes {
background-color: rgb(255, 226, 255);
border: 1px solid rgb(215, 215, 248);
border-radius: 10px;
margin:10px;
padding: 5px;
}

#especialidades {
    background-color: rgb(204, 255, 204);
    border: 1px solid rgb(153, 204, 153);
    border-radius: 10px;
    margin:10px;
    padding: 5px;
}

#especialidades ol {
    list-style-type: square;
    margin-left: 20px;
}
section{
    margin: 10px;
    padding: 5px;
}
#laboratorio {
font-size: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.malla{
    border-collapse: collapse;
    border: 1px solid black;
}

.malla td, .malla th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.malla td.que{
    text-align: left;

}

p::first-line{
    color: blue;
    text-decoration:wavy underline;
}

p::first-letter{
    color: red;
}

ul>li{
    border-top: 1px solid red;
}

