*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    align-content:space-around;
    height: 100vh;
}

.box div{
    width: 300px;

}

.box div:nth-child(even){
    background-color: lightcoral;
}

.box div:nth-child(odd){
    background-color: lightblue;
}
.box2{
    display: flex;
    width: 300px;
    align-items:center;
    border: 1px solid rebeccapurple;
 
}

.box2 div{
    width: 120px;
    height: 200px;
    text-align: center;
    align-content: center;

}

.box2 div:nth-child(even){
    background-color:yellow;
}
/* .box2 div:nth-child(odd){
    background-color: lightblue;
} */