*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    margin: 30px;
}

.titulo1{
    border: 1px solid;
    background: linear-gradient(to top, blue,pink,orange);
}

.titulo2{
    border: 1px solid;
    background: linear-gradient(to left, orange,pink,blue);
}
.titulo3{
    border: 1px solid;
    background: linear-gradient(to bottom, blue,pink,orange);
}
.titulo4{
    border: 1px solid;
    background: linear-gradient(45deg, red 50%, green 25%,orange);
}
.titulo5{
   height: 120px;
    width: 120px;
    border: 1px solid;
    background: radial-gradient( green, pink,orange);

}
.titulo6{
    border: 1px solid;
    width: 120px;
    height: 120px;
    background: radial-gradient( green 10%, red 20%,orange);
}