*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    animation-duration: 2s;
    animation-name: tituloanimacion;
    padding: 10px;
}
@keyframes tituloanimacion{
    from{
        color :white;
        background: darkcyan;
    }
    to{
        color: blue;
        background: gold;
        font-size: 50px;

    }
}