* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

.hoja {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 120px auto;
}

.hoja1, .hoja2, .hoja3, .hoja4 {
  width: 110px;
  height: 110px;
  background: #000;
  position: absolute;
  border-radius: 60% 60% 50% 50%;
  box-shadow: 0 0 50px 18px #00ff33;
}

/* separadas y centradas */
.hoja1 {
  top: 90px;
  left: 80px;
  transform: rotate(-45deg);
}

.hoja2 {
  top: 90px;
  left: 130px;
  transform: rotate(45deg);
}

.hoja3 {
  top: 130px;
  left: 80px;
  transform: rotate(-135deg);
}

.hoja4 {
  top: 130px;
  left: 130px;
  transform: rotate(135deg);
}

.tallo {
  position: absolute;
  width: 20px;
  height: 110px;
  background: #000;
  border-radius: 20px;
  top: 220px;
  left: 130px;
  transform: rotate(25deg);
  box-shadow: 0 0 50px 18px #00ff33;
}
