*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: lightblue;
}
.header{
    background: greenyellow;
    color: white;
    font-weight: bold;
    padding: 2px;
}
.ola{
    font-size: 20px;
    color: blueviolet;
    padding: 3px;
    font-weight: bold
}
div{
    color: white;
    width: 200px;
    height: 300px;
    background: coral;
    border-radius: 59px;
    box-shadow: 5px 3px blanchedalmond;
}
@media(max-width:600px){
    .header{
        background: yellow;
        color: black; 
    }

    .ola{
        font-size: 50px;
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    body{
        background:black;
    }
}


